@model List<Comment>

    <h4 class="mb-5">@ViewBag.Count Comments   <span style="color: gold;" class="icon icon-envelope"></span>   </h4>
    <ul class="comment-list">
        @foreach (var item in Model)
        {
            <li class="comment">
                <div class="vcard bio">
                    <img src="@item.AppUser.Image" alt="Image placeholder" width="50" height="50">
                </div>
                <div class="comment-body">
                    <h3>@item.AppUser.Name @item.AppUser.Surname </h3>
                    <div class="meta">@item.dateTime</div>
<p>@item.Text</p>
                    @*<p><a href="#" class="reply">Reply</a></p>*@
                </div>
            </li>
        }


    </ul>
