@model AppUser

@await Component.InvokeAsync("Hero", "Your Profile")


<section class="ftco-section ftco-candidates ftco-candidates-2 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 pr-lg-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="team d-md-flex p-4 bg-white">
                            <div class="bio mr-5">
                                <img src="~/UserImage/@Model.Image" alt="Image placeholder" width="100" height="100" sstyle="border-radius:50%;" class="img-fluid mb-4">
                            </div>
                            <div class="desc">
                                <h3>@Model.Name @Model.Surname </h3>
                                @if (@Model.IsLecturer == true)
                                {
                                    <p style="color:orange">Lecturer</p>
                                }
                                else
                                {
                                    <p style="color:lightgreen">Trainee</p>
                                }

                              
                                    <p><i class="icon icon-globe"></i><span>&nbsp; City: </span>@Model.City</p>
                               
                                    <p><i class="icon icon-phone"></i><span>&nbsp; Phone: </span><a href="tel://@Model.PhoneNumber">+ @Model.PhoneNumber</a></p>
                             
                                    <p><i class="icon icon-envelope"></i><span>&nbsp; Email: </span> <a href="mailto:@Model.Email">@Model.Email</a></p>
                             
                                    <p><i class="icon icon-book"></i><span>&nbsp; Website: </span><a href="@Model.Website">@Model.Website</a></p>
                             

                            </div>
                        </div>


                    </div>
                </div>
                <div class="team d-md-flex p-4 bg-white">
                    <a href="/Account/UserEditProfile/" class="btn btn-success"> <i class="icon icon-heart"></i>&nbsp; Edit Profile</a>
                    &nbsp;   &nbsp;   &nbsp;
                    <a href="/Account/DeleteAccount/" class="btn btn-primary"> <i class="icon icon-remove"></i>&nbsp; Delete Account</a>
                    &nbsp;   &nbsp;   &nbsp;
                    <a href="/Account/ResetPassword/" class="btn btn-secondary"> <i class="icon icon-key"></i>&nbsp; Reset Password</a>

                </div>

            </div>
        </div>
    </div>
</section>

