@model AppUser

@await Component.InvokeAsync("Hero", "Your Profile")


<section class="ftco-section contact-section bg-light">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="col-md-12 mb-4">
                <h2 class="h3">Contact Information</h2>
            </div>
            <div class="w-100"></div>


            <div class="col-md-12">
                <div class="bio mr-5">
                    <img src="@Model.Image" alt="Image placeholder" width="100" height="100" class="img-fluid mb-4">
                </div>
                <div class="desc">
                    <h3>@Model.Name @Model.Surname </h3>
                    @if (@Model.IsLecturer == true)
                    {


                        <p style="color:orange">Lecturer</p>
                    }
                    else
                    {
                        <p style="color:lightgreen">Student</p>

                    }

                </div>
            </div>
      

            <div class="col-md-3">
                <p><span>Address:</span>@Model.City</p>
            </div>
            <div class="col-md-3">
                <p><span>Phone:</span> <a href="tel://1234567920">+ @Model.PhoneNumber</a></p>
            </div>
            <div class="col-md-3">
                <p><span>Email:</span> <a href="mailto:info@yoursite.com">@Model.Email</a></p>
            </div>
            <div class="col-md-3">
                <p><span>Website</span> <a href="#">@Model.Website</a></p>
            </div>
        </div>
     
    </div>
</section>



