@model Course

@await Component.InvokeAsync("Hero", "Course Details")


<section class="ftco-section ftco-candidates ftco-candidates-2 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 pr-lg-4">
                <div class="row">

                    <div class="col-md-12">
                        <div class="team d-md-flex p-4 bg-white">
                            <div class="img" style="background-image: url(@Model.CoverPhoto);"></div>

                            <div class="text pl-md-4">
                                <span class="location mb-0">@Model.Level  </span>
                                <h2>@Model.Title</h2>
                                <p>By @Model.Instructor.Name @Model.Instructor.Surname </p>
                                <span class="position">@Model.Category?.CategoryName</span>
                                <p class="mb-2"><span class="icon icon-calendar" style="color:lightcoral"></span> Date Added:  @Model.DateAdded</p>

                                <p class="mb-2"><span class="icon icon-book" style="color:lightgreen"></span> Total Enrollment:  @Model.Enrollments.Count</p>
                                <p class="mb-2"><span class="icon icon-pencil" style="color:blue"></span> @Model.Language</p>
                                <p class="mb-2"><span class="icon icon-star" style="color:orange"></span> @Model.Rank</p>
                                <span class="seen">Tags: @Model.Tags</span>
                                @*<p><a href="/Course/CourseByLecturer/@Model.Id" class="btn btn-primary">Courses</a></p>*@
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="team d-md-flex p-4 bg-white">
                            @*<div class="img" style="background-image: url(@Model.CoverPhoto);"></div>*@

                            <div class="text pl-md-4">
                                <h2>What You Will Learn</h2>
                                <span style="color: cornflowerblue;" class="icon icon-stars"></span> &nbsp;  @Model.WhatYoullLearn

                                <h2>Prerequisities</h2>
                                <span style="color: cornflowerblue;" class="icon icon-stars"></span> &nbsp;  @Model.Prerequisities

                                <h2>Includes</h2>
                                <span style="color: cornflowerblue;" class="icon icon-stars"></span> &nbsp;  @Model.Includes

                                <h2>Suitable For</h2>
                                <span style="color: cornflowerblue;" class="icon icon-stars"></span> &nbsp;  @Model.SuitableFor
                            </div>
                        </div>
                    </div>

                    @if (ViewBag.Enrolled == true)
                    {


                        <div class="col-md-12">
                            <div class="team d-md-flex p-4 bg-white">
                                @*<div class="img" style="background-image: url(@Model.CoverPhoto);"></div>*@

                                <div class="text pl-md-4">
                                    <h2>Content</h2>
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/VIDEO_ID" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-12">
                            <div class="team d-md-flex p-4 bg-white">
                                @*<div class="img" style="background-image: url(@Model.CoverPhoto);"></div>*@

                                <div class="text pl-md-4">
                                    <h2>Content</h2>
                                    <p>To access course content, you must purchase it. <span class="icon icon-key" style="color:gold; size:150%"></span></p>
                                </div>
                            </div>
                        </div>

                    }


                    <div class="col-md-12">
                        <div class="team d-md-flex p-4 bg-white">
                            @*<div class="img" style="background-image: url(@Model.CoverPhoto);"></div>*@
                            <div class="text pl-md-4">
                                <h2>Comments</h2>
                                @await Component.InvokeAsync("CommentsByCourse", Model.Id)
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="team d-md-flex p-4 bg-white">
                            @*<div class="img" style="background-image: url(@Model.CoverPhoto);"></div>*@
                            <div class="text pl-md-4">
                                <h2>Leave a Comment</h2>
                                @await Component.InvokeAsync("SendComment")
                            </div>
                        </div>
                    </div>
                  

                </div>

            </div>

            @await Component.InvokeAsync("SidebarCourseDetails", Model.Id)

        </div>
    </div>
</section>

@await Component.InvokeAsync("Newsletter")
