@model List<Course>

@await Component.InvokeAsync("Hero", "Course By " + ViewBag.Name + " " + ViewBag.Surname)


<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 pr-lg-4">

            

                <div class="row">

                    <div class="about-author d-flex p-4 bg-light">
                        <div class="bio mr-5">
                            <img src="@Model[0].Instructor.Image" width="100px" height="100px" href="/Course/CourseByLecturer/@Model[0].InstructorId" alt="Image placeholder" class="img-fluid mb-4" style="border-radius: 50%;">

                        </div>
                        <div class="desc">
                            <h3>@Model[0].Instructor.Name @Model[0].Instructor.Surname </h3>
                            <p>@Model[0].Instructor.About</p>
                            <div class="meta">
                                <div><span class="icon-calendar"></span> @Model[0].Instructor.LastActivity</div>
                                <div><span class="icon-star" style="color:orange"></span> @Model[0].Instructor.Rank</div>
                                <div><span class="icon-globe"></span> @Model[0].Instructor.City</div>
                            </div>
                        </div>
                    </div>


                    @foreach (var item in Model)
                    {
                        <div class="col-md-12 ftco-animate">
                            <div class="job-post-item p-4 d-block d-lg-flex align-items-center">
                                <div class="one-third mb-4 mb-md-0">
                                    <div class="job-post-item-header align-items-center">
                                        <span class="subadge">@item.Level</span>
                                        <h2 class="mr-3 text-black"><a href="#">@item.Title</a></h2>
                                    </div>
                                    <div class="job-post-item-body d-block d-md-flex">
                                        <div class="mr-3"><span class="icon-layers"></span> <a href="#">@item.Price</a></div>
                                        @*<div><span class="icon-my_location"></span> <span>@item.Category.CategoryName</span></div>
                                        *@
                                    </div>
                                </div>

                                <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
                                    <div>
                                        <a href="#" class="icon text-center d-flex justify-content-center align-items-center icon mr-2">
                                            <span class="icon-heart"></span>
                                        </a>
                                    </div>
                                    <a href="/Course/CourseById/@item.Id" class="btn btn-primary py-2">BUY</a>
                                </div>
                            </div>
                        </div><!-- end -->
                    }


                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <ul>
                                <li><a href="#">&lt;</a></li>
                                <li class="active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("Sidebar")

        </div>
    </div>
</section>

