<style>
    .animated_rainbow_2 {
        font-size: 20px;
        background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
        -webkit-animation: animatedBackground_a 5s linear infinite alternate;
        -webkit-background-clip: text;
        -webkit-text-fill-color: #0000;
        background-clip: text;
    }

    @@keyframes animatedBackground_a {
        0% {
            background-position: 0 0
        }

        100% {
            background-position: -500px 0
        }
    }
</style>


@model List<Course>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

@await Component.InvokeAsync("Hero", "Courses")


<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 pr-lg-4">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-12 ftco-animate">
                            <div class="job-post-item p-4 d-block d-lg-flex align-items-center">

                                <img src="@item.CoverPhoto" class="img" style=" border-radius: 50%; width:100px; height:100px">
                                &nbsp; &nbsp; &nbsp;
                                <div class="one-third mb-4 mb-md-0">

                                    <div class="job-post-item-header align-items-center">

                                        <span class="subadge">@item.Level</span>
                                        <h2 class="mr-3 text-black"><a href="#">@item.Title</a></h2>
                                    </div>
                                    <div class="mr-3"><span class="icon-money" style="color:lightgreen; size:100%"></span> <a href="#">@item.Price</a></div>

                                    <div class="job-post-item-body d-block d-md-flex">
                                        <div><span class="icon-book" style="color:orange; size:100%"></span> <a href="/Course/ByCategory/@item.CategoryId">@item.Category?.CategoryName</a></div>&nbsp;&nbsp;&nbsp;
                                        <div><span class="icon-user" style="color:lightskyblue; size:100%"></span><a href="/Course/CourseByLecturer/@item.InstructorId">&nbsp; @item.Instructor?.Name @item.Instructor?.Surname </a></div>

                                    </div>

                                    @{
                                        var enrolled = (List<Enrollment>)ViewBag.enrolled;
                                        if (enrolled.Any(x => x.CourseId == item.Id))
                                        {
                                            <span class="animated_rainbow_2">ENROLLED</span>
                                        }
                                    }


                                </div>

                                <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">



                                    <div>
                                        <a href="#" class="icon text-center d-flex justify-content-center align-items-center icon mr-2 subButton" data-item-id="@item.Id">
                                            <span class="icon-heart"></span>
                                        </a>
                                    </div>

                                    <a href="/Course/CourseById/@item.Id" class="btn btn-primary py-2">Detail</a>
                                </div>

                            </div>
                            <div id="message-@item.Id">
                            </div>
                        </div><!-- end -->
                    }
                </div>
            </div>
            @await Component.InvokeAsync("Sidebar")
        </div>
    </div>
</section>

<div id="warningMessage"></div>



<script>$(document).on('click', '.subButton', function (event) {
        event.preventDefault();
        var receiver = $(this).data('item-id');
        var messageDivId = "#message-" + receiver;
        $.ajax({
            url: '/Wishlist/AddToWishlist/' + receiver,
            type: 'POST',
            success: function (response) {
                $(messageDivId).html(response);
                setTimeout(function () {
                    $(messageDivId).fadeOut();
                }, 3000);
                $(messageDivId).fadeIn(); // Add this line to show the error message again

                $(successMessageDivId).html(response);
                setTimeout(function () {
                    $(successMessageDivId).fadeOut();
                }, 3000);
                $(successMessageDivId).fadeIn(); // Add this line to show the success message again

            }

        });

    });</script>
