@using BaseIdentity.PresentationLayer.CQRS.Results.CourseResults
@model GetCourseByIdQueryResult

@{
    Layout = "~/Views/Shared/_AreaLayout.cshtml";
}



<h2 style="color:lawngreen">Edit Course</h2>

<div class="container" style="width:60%">
    <form method="post">
        <input type="hidden" name="CourseId" value="@Model.CourseId" />
        <label>Title</label>
        <input type="text" name="Title" class="form-control" value="@Model.Title" />
        <br />
        <label>Language</label>
        <select name="Language" id="languages" class="form-control">
            <option value="Turkish" @(Model.Language == "Turkish" ? "selected" : "")>Turkish</option>
            <option value="English" @(Model.Language == "English" ? "selected" : "")>English</option>
            <option value="German" @(Model.Language == "German" ? "selected" : "")>German</option>
            <option value="French" @(Model.Language == "French" ? "selected" : "")>French</option>
        </select>
        <br />
        <label>Price</label>
        <input type="text" name="Price" class="form-control" value="@Model.Price" />
        <br />
        <label>Description</label>
        <input type="text" name="Description" class="form-control" value="@Model.Description" />
        <br />
        <label>Content Url</label>
        <input type="text" name="ContentURL" class="form-control" value="@Model.ContentURL" />
        <br />
        <label>Cover Photo</label>
        <input type="text" name="CoverPhoto" class="form-control" value="@Model.CoverPhoto" />
        <br />
        <label>Category</label>
        <select name="CategoryId" class="form-control">
            @foreach (var category in ViewBag.Categories)
            {
                <option value="@category.CategoryID">@category.CategoryName</option>
            }
        </select>
        <br />
        <label>Level</label>
        <select name="Level" id="languages" class="form-control">
            <option value="Beginner" @(Model.Language == "Beginner" ? "selected" : "")>Beginner</option>
            <option value="Middle" @(Model.Language == "Middle" ? "selected" : "")>Middle</option>
            <option value="Advanced" @(Model.Language == "Advanced" ? "selected" : "")>Advanced</option>
        </select>
        <br />
        <button class="btn btn-success">Update</button>
    </form>

</div>
