@model List<AppUser>

@await Component.InvokeAsync("Hero", "Instructors")

<section class="ftco-section ftco-candidates ftco-candidates-2 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 pr-lg-4">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-12">
                            <div class="team d-md-flex p-4 bg-white">
                                @if (!object.ReferenceEquals(@item.Image, null))
                                {
                                    <img src="~/UserImage/@item.Image" style=" border-radius: 50%; width:100px;height:100px">
                                }
                                else
                                {
                                    <div class="img" style="background-image: url(https://cdn-icons-png.flaticon.com/512/6681/6681204.png);"></div>
                                }

                                @*<div class="img">
            <img src="@item.Image" style="border-radius:50%; width:200px; height:200px" alt="Avatar">
        </div>*@

                                <div class="text pl-md-4">
                                    <span class="location mb-0">@item.About  </span>
                                    <a href="/Course/CourseByLecturer/@item.Id">
                                        <h2>@item.Name @item.Surname  &nbsp;&nbsp;&nbsp; <span class="icon icon-arrow-right" style="color:orange"></span> </h2>
                                    </a>
                                    <span class="position">@item.Department</span>
                                    <p class="mb-2"><span class="icon icon-book" style="color:lightblue"></span> Total Courses:  @item.InstructedCourses.Count()</p>
                                    <p class="mb-2"><span class="icon icon-pencil" style="color:lightgreen"></span>  Speciality:  @item.Speciality</p>
                                    <p class="mb-2"><span class="icon icon-star" style="color:orange"></span> Rank:  @item.Rank</p>
                                    <span class="seen">@item.City</span>
                                    <br />
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @*<div class="row mt-5">
                        <div class="col text-center">
                            <div class="block-27">
                                <ul>
                                    <li><a href="#">&lt;</a></li>
                                    <li class="active"><span>1</span></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">&gt;</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>*@
            </div>
            @await Component.InvokeAsync("Sidebar")

        </div>
    </div>
</section>


@await Component.InvokeAsync("Newsletter")
